[Unit]
Description=PiDP11/70 panel server
Wants=rpcbind.service
After=rpcbind.service

[Install]
WantedBy=pidp11.service
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/opt/pidp11/bin/server11
WorkingDirectory=/opt/pidp11/bin
User=pi
Group=pi
SupplementaryGroups=gpio
LimitRTPRIO=99:99
